.dashcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    border-bottom: solid 1px #a5a5a5;
  }

  .rightsection {
    display: flex;
    height: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .usergreet {
    margin-top: 10px;
  }

  .main {
    display: flex;
    width: 100%;
    height: calc(100vh - 6rem);
    flex-direction: row;
  }
  
  .navlist {
    display: flex;
    flex: 1.5;
    height: 100%;
    border-right: #a5a5a5 1px solid;
  }

  .contentcontainer {
    flex: 6;
    height: 100%;
  }

  ul {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  li {
    display: block;
    list-style: none;
    width: 100%;
    height: 1.5rem;
    background-color: antiquewhite;
  }

  .footer {

  }

  .title {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
    color: #4d4d4d;
    margin: 0 30px;
  }
  
  hr {
    width: 100%;
    border-style: ridge;
  }